<a href="https://colab.research.google.com/github/wallisonferreira/data-science/blob/master/Curso_Ada_Tech_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade

Utilizamos listas para armazenar em um único objeto uma coleção de valores. Muitas vezes, desejamos criar uma nova lista a partir de uma lista original. Observe o código abaixo:

<code>
lista_inicial = [10, 5, -7, 6, -42, 63, -8, -5, 13]

lista_final = []

for item in lista_inicial:

    if item % 2 == 0:

        if item < 0:

            lista_final.append(A)
    
        else:

            lista_final.append(B)
    else:

        if item < 0:
            
            lista_final.append(C)
    
        else:

            lista_final.append(D)
</code>

Qual deve ser o valor de A, B, C e D, respectivamente, para que o código acima gere a seguinte lista_final: [10, 10, 14, 6, 42, 126, 8, 10, 26]?

In [20]:
lista_inicial = [10, 5, -7, 6, -42, 63, -8, -5, 13]

lista_final = []

for item in lista_inicial:

    if item % 2 == 0:

        if item < 0:

            lista_final.append(-item)
    
        else:

            lista_final.append(item)
    else:

        if item < 0:
            
            lista_final.append(-2 * item)
    
        else:

            lista_final.append(2*item)

print(lista_final)

[10, 10, 14, 6, 42, 126, 8, 10, 26]

In [21]:
animais = ['gato', 'coelho', 'macaco', 'girafa']

animais.remove('gato')
print(animais)
print(len(animais))
print(animais.index('coelho'))

['coelho', 'macaco', 'girafa']
3
0